@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,50..150,100..900;1,50..150,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.widenTextAnimate {
    font-variation-settings: "wdth" 150;
    transition: font-variation-settings 0.5s ease-in-out;
}

.parentWidenTextAnimate:hover .widenTextAnimate {
    font-variation-settings: "wdth" 100;
}

.widenText { 
    font-variation-settings: "wdth" 150;
}

:root {
    --radial-gradient-background: 250, 250, 250;
    --solid-color-background: 96, 104, 135;
    --overlay-color: 96, 104, 135;
    --page-bar: theme('colors.primary');
}

html.dark {
        --overlay-color: 255, 255, 255;
        --page-bar: theme('colors.primaryDark');
    }


/*SHINY BUTTON its not broken*/
.radial-gradient {
    background: radial-gradient(
            circle at 50% 0%,
            rgba(var(--radial-gradient-background), 0.05) 0%,
            transparent 60%
    )
    rgba(var(--solid-color-background), 1);
}

.linear-mask {
    mask-image: linear-gradient(
            -75deg,
            white calc(var(--x) + 20%),
            transparent calc(var(--x) + 30%),
            white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
            -75deg,
            white calc(var(--x) + 20%),
            transparent calc(var(--x) + 30%),
            white calc(var(--x) + 100%)
    );
}

.linear-overlay {
    background-image: linear-gradient(
            -75deg,
            rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
            rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
            rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
    );
    mask:
            linear-gradient(white, white) content-box,
            linear-gradient(white, white);
    -webkit-mask:
            linear-gradient(white, white) content-box,
            linear-gradient(white, white);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}
/*END SHINY BUTTON*/